:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.top {
  height: 12%;
}

input[type='number'] {
  width: 30px;
  text-align: right;
}

ansyn-app {
  display: block;
  height: 88%;
  border: 5px solid darkgreen;
  box-sizing: border-box;
}
