<div class="top">

  <h1> Angular 2 implementation </h1>
  <select (change)="setLayout($event.target.value)">
    <option *ngFor="let layout of layoutKeys">{{ layout }}</option>
  </select>

  <button (click)="setFeatureCollection()">add features</button>
  <button (click)="deleteFeatureCollection()">remove features</button>
  <button (click)="setPositionWithRadius()">set position + radius + search</button>
  <button (click)="setOverlays()">set overlays</button>
  <button (click)="displayOverlay()">display overlay</button>
  <button (click)="displayTwoOverlays()">display two overlays</button>
  <button (click)="getMouseShadowPoint()">
    {{mouseShadowOutputSubscription? 'disable get mouse coordinate' : 'enable get mouse coordinate'}}
  </button>
  <button (click)="setMouseShadowPoint()">get mouse coordinate</button>
  <button (click)="collapseMenu()">collapse Menu</button>
  <button (click)="collapseFooter()">collapse Footer</button>
  <button (click)="collapseAll()">collapse All</button>
  <button (click)="unCollapseAll()">un-collapse All</button>
  <button (click)="addCustomLayer()">Add Custom Layer</button>
  <button (click)="removeLayer()">Remove Custom Layer</button>
  <button (click)="showLayer()">Show / Hide Custom Layer</button>
  <button (click)="addCustomLayer(false)">Add Non-Editable Layer</button>
  <button (click)="showHideDefaultLayer()">Show / Hide Default Layer</button>

</div>

<ansyn-app [version]="version"></ansyn-app>
