:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.top {
  height: 12%;
}

ansyn-app {
  display: block;
  height: 88%;
  border: 5px solid darkgreen;
  box-sizing: border-box;
}


.isPress{
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}
